*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #323232;
    color: #D4D4D4;
}

.image-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex{
    display: flex;
}

.center{
    align-items: center;
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.column{
    flex-direction: column;
}

h1{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

span{
    width: 450px;
    font-size: 18px;
    text-align: center;
}

.QR{
    width: 300px;
    height: 300px;
}

.address{
    width: fit-content;
    margin-top: 5px;
    font-size: 15px;
}

.panel{
    background-color: #5E4B8A;
    border-radius: 20px;
    padding: 15px;
}

::selection{
    background-color: #B39DDB;
    color: #1C1C1C;
}
